/* Styles for index.html */
html, body {
    height: auto;
    margin-bottom: 2em;
}

#index-control {
    display: flex;
    font-family: Monaco, Consolas, 'Courier New', Courier, monospace;
    flex-direction: row;
}
.page-control {
    cursor: default;
    background-color: rgba(255, 192, 203, 0.4);
    border: none;
    padding: 0;
    font-family: inherit;
}
.page-control:focus {
    border: 1px solid darkgrey;
}
.page-control-active {
    background-color: rgba(200, 150, 170, 0.4);
}

#index-content > article {
    margin: 0.9em 0;
}
#index-content .article-title {
    display: block;
    margin: 0 0 0.2em;
}
#index-content .article-title > a:first-child {
    font-size: 1.8em;
    color: inherit;
}
#index-content .article-title::before {
    content: "'(#:title ";
    color: #666;
}
#index-content .article-description::before {
    content: "#:description ";
    color: #666;
}
#index-content .article-description::after {
    content: ")";
    color: #666;
}

